.features {
  $corner-height: 34px;
  background-color: #242424;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after {
    content: "";
    display: block;
    height: $corner-height;
    width: 100%;
    position: absolute;
    transform: rotate(180deg);
    background: url("../../img/corner-dark.svg") no-repeat 0 0;
    background-size: 100% 100%;
    bottom: -$corner-height;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  $width: 94px;
  $height: 94px;
  padding-top: 170px;
  position: relative;
  &--fast::before {
    content: "";
    position: absolute;
    width: $width;
    height: $height;
    left: 50%;
    margin-left: -$width / 2;
    top: 40px;
    background: url("../../img/advantage-1-illustration.svg") no-repeat center;
  }
  &--cool::before {
    content: "";
    position: absolute;
    width: $width;
    height: $height;
    left: 50%;
    margin-left: -$width / 2;
    top: 40px;
    background: url("../../img/advantage-2-illustration.svg") no-repeat center;
  }
  &--expensive::before {
    content: "";
    position: absolute;
    width: $width;
    height: $height;
    left: 50%;
    margin-left: -$width / 2;
    top: 40px;
    background: url("../../img/advantage-3-illustration.svg") no-repeat center;
  }
}

.features__title {
  margin: 0;
  padding: 0;
  color: #f7f4f1;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.features__text {
  color: #f7f4f1;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  padding: 0 45px;
}
