.main-footer {
  color: white;
  background: #292929;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__social {
  margin-top: 25px;
}

.main-footer__copyright {
  margin-top: 30px;
}
